<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>okayjeffrey.alfetch</string>
	<key>connections</key>
	<dict>
		<key>11EADA76-E882-44A7-A0FB-E04CD857660E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42FFB65D-70F5-4C37-8549-C63527AE8148</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>24932E0E-7ADB-49A7-96EF-AF01E4DD3CE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EE5B867-3FD6-4DB1-9544-62DEBD2AE67D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D42494D-0771-48BC-9D5C-28DD2F5E874D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11EADA76-E882-44A7-A0FB-E04CD857660E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeffrey Larrimore</string>
	<key>description</key>
	<string>Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfetch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>in-as</string>
				<key>subtext</key>
				<string>install it!</string>
				<key>text</key>
				<string>install Sketchtool</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24932E0E-7ADB-49A7-96EF-AF01E4DD3CE2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>cd ~/Desktop
curl -O http://static-download.s3-website-us-east-1.amazonaws.com/sketchtool/sketchtool-latest.zip
unzip sketchtool-latest.zip
sudo cp sketchtool/sketchtool /usr/bin/sketchtool
sudo cp -R sketchtool/sketchtool\ resources.bundle/ /usr/bin/sketchtool\ resources.bundle/
rm -r sketchtool/
rm sketchtool-latest.zip</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EE5B867-3FD6-4DB1-9544-62DEBD2AE67D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>Worked?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42FFB65D-70F5-4C37-8549-C63527AE8148</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>afs</string>
				<key>runningsubtext</key>
				<string>processing...</string>
				<key>script</key>
				<string>sketchtool list artboards /Users/jeffreylarrimore/Desktop/TaskRabbit_Logos.sketch</string>
				<key>subtext</key>
				<string>is getting your document</string>
				<key>title</key>
				<string>Alfetch</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D42494D-0771-48BC-9D5C-28DD2F5E874D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f process.php -- '/Users/jeffreylarrimore/Desktop/TaskRabbit_Logos.sketch'</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11EADA76-E882-44A7-A0FB-E04CD857660E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>test</string>
				<key>runningsubtext</key>
				<string>wait</string>
				<key>script</key>
				<string>php -f process.php</string>
				<key>subtext</key>
				<string>sub</string>
				<key>title</key>
				<string>test</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D66B0A90-7C9F-46FC-A90E-58FB6E3AB268</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11EADA76-E882-44A7-A0FB-E04CD857660E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>24932E0E-7ADB-49A7-96EF-AF01E4DD3CE2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3EE5B867-3FD6-4DB1-9544-62DEBD2AE67D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>42FFB65D-70F5-4C37-8549-C63527AE8148</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5D42494D-0771-48BC-9D5C-28DD2F5E874D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D66B0A90-7C9F-46FC-A90E-58FB6E3AB268</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>Jeffreylarrimore.com</string>
</dict>
</plist>
